.action-queue {
	display: flex;
	gap: 2px;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

.action-slot.selected {
	outline: 2px solid #fff;
	outline-offset: -2px;
	transform: translateY(-5px);
	transform: scale(1.2);
}
