.chatbox {
	background: rgba(255, 255, 255, 0.9);
	border-top: 2px solid #444;
	font-family: monospace;
	display: flex;
	flex-direction: column;
}

.chat-log {
	background-color: pink;
	overflow-y: auto;
	font-size: 0.9rem;
}

.chat-input {
	width: 95%;
	font-size: 1rem;
	padding: 0.3rem;
}

.chat-message {
	line-height: 1.5rem;
}
