.focussed {
	border-color: orangered;
	box-shadow: 0 0 20px orange;
	z-index: 1;
}

.chat-pane {
	grid-column: 8 / span 5;
	grid-row: 5 / span 8;
	background: #f5f5f5;
	position: relative;
	height: 100%;
}

.plane-pane {
	grid-column: 1 / span 7;
	grid-row: 1 / span 6;
	background: #222;
	position: relative;
}

.inventory-pane {
	grid-column: 8 / span 5;
	grid-row: 1 / span 4;
	background: #333;
}

.action-queue-pane {
	grid-column: 1 / span 7;
	grid-row: 7 / span 8;
	background: #555;
}
