.plane-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.tile-layer {
	display: grid;
	grid-template-columns: repeat(var(--plane-width), 1fr);
	grid-template-rows: repeat(var(--plane-height), 1fr);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fefefe;
}


.plane-tile {
	border: 1px solid #ccc;
	background-color: antiquewhite;
}

.entity-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;

}
